---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">Get your central heating system power flushed in time for the winter months</h2>

<p>
	{location} residents turn to EVO Plumbing and Heating to have their heating system power flushed in
	time for the winter months. We are contracted for both preventive maintenance and responsive power
	flushing services.
</p>
<p>
	Our local team attends to all requests quickly, helping you avoid heating system breakdowns. We
	recommend power flushing your radiators, pipes and boiler at least every five years. This will
	keep your heating system in peak condition and extend its life.
</p>

<h3 class="h4 coloured-text">
	If you have any questions or need to schedule a power flush, please call us on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<h3 class="h4">What is power flushing?</h3>
<p>
	Power flushing is a rapid, comprehensive and forcible cleanse of a heating system using
	high-velocity, low-pressure water. The goal is to flush out magnetite, which is the black sludge
	held in the water of a heating or hot water system. It is possible that you may have encountered
	this mixture of dissolved metal in the lower parts of your heating system such as the basement or
	ground floor.
</p>
<p>
	The process does not damage your heating system. Power flushing equipment connects to your heating
	system and cleans the radiators, pipes and boiler thoroughly. At the end of the process, after all
	the sludge has been flushed out, an inhibitor fluid is added to reduce chances of or postpone
	future contamination.
</p>
