---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">Did your heating system seize up?</h2>
<p>
	Perhaps, power flushing can restore it. If you live in {location}
	or its surrounding area and need a power flushing service, contact our team of power flushing experts
	at EVO Plumbing and Heating to get a quick way out of the situation.
</p>

<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}, we are available 24x7!
</h3>

<h3 class="h4">What is power flushing anyways?</h3>
<p>
	Poorly maintained central heating systems could cause deposits, sludge, debris and rust to
	accumulate in pipes, radiators and the boiler. These blockages can obstruct the flow of water
	through the system, in most cases preventing the heat from reaching all areas of the system.
</p>
<p>
	This condition can be corrected with a power flushing treatment of your central heating system at
	the hands of a professional service provider. As a cleaning process, a power flush will restore
	your central heating system to maximum efficiency, without the hassle of replacing the entire
	system.
</p>
<p>
	Wondering how? It does so by using high-strength cleansing chemicals, corrosion inhibitors and
	sludge breakers along with low-pressure, high-velocity water to remove contaminants like debris
	and sludge from your system.
</p>
