:root {
	/* spacing */
	--s-0: 0.4rem;
	--s-1: 0.8rem;
	--s-2: 1.6rem;
	--s-3: 2.4rem;
	--s-4: 3.2rem;
	--s-5: 6.4rem;
	--s-6: 12.8rem;

	/* responsive spacing */
	/* based on viewport fom min 375px to max 1200px */
	/* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport */
	--s-1-2: clamp(var(--s-1), 0.4364rem + 0.9697vw, var(--s-2));
	--s-1-4: clamp(var(--s-1), -0.2909rem + 2.9091vw, var(--s-4));
	--s-2-3: clamp(var(--s-2), 1.2364rem + 0.9697vw, var(--s-3));
	--s-2-4: clamp(var(--s-2), 0.8727rem + 1.9394vw, var(--s-4));
	--s-3-4: clamp(var(--s-3), 1.2364rem + 0.9697vw, var(--s-4));
	--s-2-5: clamp(var(--s-2), -0.5818rem + 5.8182vw, var(--s-5));
	--s-4-5: clamp(var(--s-4), 1.7455rem + 3.8788vw, var(--s-5));

	/* colours */
	--c-grey: #bdbdbd;
	--c-grey-pale: #f7f7f7;
	--c-nearly-black: #151922;
	--c-black: #000;
	--c-white: #fff;

	--c-evo-green: #145540;
	--c-evo-green-medium: #72998c;
	--c-evo-green-pale: #f3f6f5;

	--c-evo-orange: #f27e00;
	--c-evo-orange-medium: #f59833;
	--c-evo-orange-pale: #fef3e6;

	--c-green: #119c03;
	--c-orange: #d13f00;
	--c-orange-medium: #ff6d00;

	--c-error: #f33;
	--c-error-dark: #c00;
	--c-error-pale: #ffebeb;

	--c-success: #00cc66;
	--c-success-dark: #026918;
	--c-success-pale: #e6faf0;

	--c-info: #0048ff;
	--c-info-dark: #002ea1;
	--c-info-pale: #ccdaff;

	--c-warning: #ffaa33;
	--c-warning-dark: #c33300;
	--c-warning-pale: #fff7eb;

	/* font size */
	--fs-h1-hero: clamp(5.2rem, 2.6182rem + 5.8182vw, 9.6rem);
	--fs-h1: clamp(3.2rem, 1.7455rem + 3.8788vw, 6.4rem);
	--fs-h2: clamp(2.2rem, 1.4273rem + 2.0606vw, 3.9rem);
	--fs-h3: clamp(2.2rem, 1.5636rem + 1.697vw, 3.6rem);
	--fs-h4: clamp(1.6rem, 1.4182rem + 0.4848vw, 2rem);
	--fs-body: clamp(1.4rem, 1.2182rem + 0.4848vw, 1.8rem);
	--fs-nav: clamp(1.6rem, 1.5091rem + 0.2424vw, 1.8rem);
	--fs-small: clamp(1.2rem, 1.0182rem + 0.4848vw, 1.6rem);

	/* font weight */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-black: 900;

	/* misc */
	--max-readable-width: 750px;
	--transition: 0.2s ease;
	--box-shadow-card: 0px 11px 48px 0px rgba(0, 0, 0, 0.15);
	--box-shadow-menu: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
	--box-shadow-button: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
	--border-radius-med: var(--s-1-2);
	--border-radius-small: var(--s-1);
	--border-radius-extra-small: var(--s-0);
}
