---
import ServiceInfoCard from '../../../../ServiceInfoCard.astro';
import KerbAppeal from '../../../../../images/info-kerb-appeal.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<ServiceInfoCard title={`Maximise the kerb appeal of your ${location} home`} image={KerbAppeal}>
	<p>
		Achieving a deep clean for your patio, driveway and external hard surfaces is simple with EVO
		Plumbing and Heating Services. From dirt and stains to silt and moss, our patio cleaners use the
		latest pressure washing technologies to revive hard surfaces. Beyond this, our jet washing
		systems are perfect for thorough graffiti removal.
	</p>
</ServiceInfoCard>
