---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">
	Do you need a Central Heating Engineer and live in {location} or the surrounding area?
</h2>
<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	}
</h3>

<h3 class="h4">24-hour Emergency Heating Engineers covering {location}</h3>
<p>
	Whether you've noticed a drop in the performance of your central heating system or you're
	considering a boiler update, look no further. From boiler breakdowns and boiler repairs through to
	the installation of a new central heating system, our services are <strong
		>comprehensive and competitively priced</strong
	>.
</p>
<p>
	We understand that the disruption and inconvenience associated with heating problems means that a <strong
		>fast, effective response</strong
	> is needed.
</p>
<p>
	The dedication of our 24-hour emergency heating engineers means that we aim to be with you <strong
		>within 2 hours of your call</strong
	>. What's more, we will keep you informed throughout every step of the repair process.
</p>
<p>
	Beyond issues with central heating and boilers, we also offer <strong
		>gas safety inspections</strong
	>, <strong>Landlord CP12 certificates</strong> and <strong>homeowner certificates</strong>.
</p>
