<h2>Slow-draining water?</h2>
<h3 class="h4 coloured-text">We are your first choice for sink and toilet blockages</h3>
<p>
	When you suspect a blockage, knowing what signs to look out for is the first step to a <strong
		>quick resolution</strong
	>. Is there a foul smell emitting from your sink or bath? Perhaps the water is taking a long time
	to drain?
</p>
<p>
	We are <strong>plumbing and drainage specialists</strong> with a wealth of experience tackling blocked
	sinks, basins, toilets and pipework.
</p>
