---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'EVO Plumbing and Heating';
const description = 'EVO Plumbing and Heating.';
---

<BaseLayout title={title} description={description}>
	<h1>Blog</h1>
</BaseLayout>
