---
import BaseLayout from '../layouts/BaseLayout.astro';
import AllReviews from '../components/AllReviewsByServiceAndLocation.astro';

const title = 'EVO Plumbing and Heating';
const description = 'EVO Plumbing and Heating.';
---

<BaseLayout title={title} description={description}><h1>Homepage</h1><AllReviews /></BaseLayout>
