---
import { FREEPHONE_NUMBER } from '../../../../../utils/constants';

interface Props {
	location: string;
	locationTel: string;
}

const { location, locationTel } = Astro.props;
---

<h2 class="h3">Is your central heating system acting up?</h2>
<p>
	Not to worry, because we, at EVO Plumbing and Heating, can fix it with our power flushing services
	in {location} and its surrounding areas. We are licensed for both responsive power flushing and preventive
	maintenance services.
</p>

<h3 class="h4 coloured-text">
	Call us now on {
		locationTel ? locationTel : `Freephone ${FREEPHONE_NUMBER} - 24 hour Emergency Helpline`
	} to get the assistance of expert power flushing specialists
</h3>

<p>We are the trusted partner of several {location} residents.</p>

<h3 class="h4">
	A power flush is all you need for boosting the efficiency of your central heating system
</h3>
<p>
	Power flushing is a comprehensive, rapid and forcible cleansing process that uses low-pressure
	water at a high velocity. The aim of the process is to purge out a black sludge called magnetite,
	which is held in the water of the central heating system. It also involves the use of circulating
	high-strength cleansing chemicals, a corrosion inhibitor and a descaler.
</p>
<p>
	The presence of the mixture of dissolved metal leads to malfunctioning of radiators, pipes and
	boiler, eventually causing your entire central heating system to go out of kilter. After a power
	flushing treatment, your central heating system's functionality will be restored without any
	damage or the burden of expensive replacements and repairs.
</p>
