.alert {
	display: flex;
	gap: var(--s-8);
	align-items: flex-start;
	padding: var(--s-16);
	color: var(--c-paper);
	border-radius: var(--s-8);
	font-size: var(--fs-nav);
	max-width: var(--max-readable-width);

	&.success {
		background-color: var(--c-success-pale);
		color: var(--c-success-dark);
	}

	&.error {
		background-color: var(--c-error-pale);
		color: var(--c-error-dark);
	}

	.iconContainer {
		height: 40px;
		min-width: 40px;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	.textContainer {
		min-height: 40px;
		display: flex;
		align-items: center;
	}
}
