---
import { getLocations, location, getLocationsInSameCounty } from '../../../utils/getLocations';

// 1. Generate a new path for every location
export async function getStaticPaths() {
	return getLocations();
}

// 2. When it's time to render, you can get the entry directly from the prop
const { location } = Astro.props;

const locationsInSameCounty = await getLocationsInSameCounty(location.county);

console.log(locationsInSameCounty);
---

<h1>Roof cleaning: {location.name}</h1>

<h2>Locations in the same county</h2>

{locationsInSameCounty.map((locationInSameCounty: location) => <p>{locationInSameCounty.name}</p>)}
