---
import { Image } from '@astrojs/image/components';
import BlockedSink from '../../../images/info-blocked-sink.jpg';
import Drainage from '../../../images/info-drainage.jpg';
import LogoDrainage from '../../../images/logo-drainage.svg';
import ServiceInfoCard from '../../ServiceInfoCard.astro';
---

<ServiceInfoCard title="DIY guide to unblocking a sink" image={BlockedSink}>
	<p>
		We understand how irritating and inconvenient dripping or leaking taps can be. No matter how
		minor the problem appears, we cannot stress the importance of calling a professional to avoid
		damage to your kitchen units and bathroom floor. We are on hand to install and repair taps so
		you can avoid the costly replacement of waterlogged floorboards and units.
	</p>
	<ul>
		<li>
			Clear the plug hole. Do your best to clean it as well as you can as this will make it removing
			the blockage easier.
		</li>
		<li>
			Use bleach to remove the blockage. Once applied, leave the bleach to sit in the sink as long
			as you can before flushing it with hot water. Allowing it to sit overnight will give you a
			good chance of clearing the blockage. Be careful with chemicals and always use in a ventilated
			area.
		</li>
	</ul>
	<p>
		Still no luck? This could be an indication of a more severe blockage. At this point, we advise
		that you drain the sink and check the U-bend. To do this, place a bowl or container below the
		bend. Gently unscrew the U-bend and allow the water to drain away. Whilst the water is draining,
		examine the U-bend and give it a good clean; removing any debris that is blocking the tube
		before you screw it back into place.
	</p>
</ServiceInfoCard>

<ServiceInfoCard
	title="EVO Drainage Services"
	image={Drainage}
	href="https://www.evo-drainage.co.uk/"
	linkText="EVO Drainage Serices"
	imagePosition="left"
>
	<p>Issues with <strong>blocked drains</strong>?</p>
	<p>
		From planned maintenance work to emergency drain repairs, choose EVO Drainage Services and
		receive the assistance you need. Our dedicated team have a <strong
			>wealth of experience in tackling both common and complex drainage problems</strong
		>.
	</p>
	<Image class="logo" src={LogoDrainage} alt="EVO Drainage logo" />
</ServiceInfoCard>
