---
import NavList from './NavList.astro';
import NavListItem from './NavListItem.astro';

type Props = Record<string, never>;
---

<li role="none">
	<div class="coloured-text">Plumbing and heating</div>
	<NavList>
		<NavListItem href="/plumbing" text="Plumbing services" />
		<NavListItem href="/blocked-sinks-toilets" text="Plumbing services" />
		<NavListItem href="/central-heating" text="Central heating" />
		<NavListItem href="/boiler-servicing-repairs" text="Boiler servicing and repairs" />
		<NavListItem href="/power-flushing" text="Power flushing" />
	</NavList>
</li>

<li role="none">
	<div class="coloured-text">External maintenance</div>
	<NavList>
		<NavListItem href="/gutter-cleaning" text="Gutter cleaning" />
		<NavListItem href="/patio-cleaning" text="Patio cleaning" />
		<NavListItem href="/roof-cleaning" text="Roof cleaning" />
	</NavList>
</li>

<style lang="scss">
	li div {
		padding-bottom: var(--s-16);
		font-size: var(--fs-nav);
		font-weight: var(--fw-bold);
		list-style: none;
		white-space: nowrap;
	}
</style>
