---
import NavList from './NavList.astro';
import NavListItem from './NavListItem.astro';

type Props = Record<string, never>;
---

<li role="none">
	<div class="coloured-text">Plumbing and Heating</div>
	<NavList>
		<NavListItem href="/plumbing" text="Plumbing" />
		<NavListItem href="/blocked-sinks-toilets" text="Blocked Sinks and Toilets" />
		<NavListItem href="/central-heating" text="Central Heating" />
		<NavListItem href="/boiler-servicing-repairs" text="Boiler Servicing and Repairs" />
		<NavListItem href="/power-flushing" text="Power Flushing" />
	</NavList>
</li>

<li role="none">
	<div class="coloured-text">External Maintenance</div>
	<NavList>
		<NavListItem href="/gutter-cleaning" text="Gutter Cleaning" />
		<NavListItem href="/patio-cleaning" text="Patio Cleaning" />
		<NavListItem href="/roof-cleaning" text="Roof Cleaning" />
	</NavList>
</li>

<style lang="scss">
	li div {
		padding-bottom: var(--s-16);
		font-size: var(--fs-nav);
		font-weight: var(--fw-bold);
		list-style: none;
		white-space: nowrap;
	}
</style>
