---
interface Props {
	href: string;
	text: string;
}

const { href, text } = Astro.props;
---

<li role="none"><a role="menuitem" href={href}>{text}</a></li>

<style lang="scss">
	a {
		white-space: nowrap;

		&:hover,
		&.active {
			color: var(--c-orange);
		}
	}
</style>
