---
import { Icon } from 'astro-icon';
const { type } = Astro.props;
---

<div class={`container ${type}`} role={type === 'error' ? 'alert' : undefined}>
	<div class="iconContainer">
		{type === 'success' && <Icon name="ep:success-filled" />}
		{type === 'error' && <Icon name="ic:round-error" />}
	</div>
	<p class="textContainer"><slot /></p>
</div>

<style lang="scss">
	.container {
		display: none;
		gap: var(--scale-8-16);
		align-items: flex-start;
		padding: var(--s-16);
		color: var(--c-white);
		border-radius: var(--s-8);
		font-size: var(--fs-nav);
		border: 1px solid black;

		&.show {
			display: flex;
		}

		&.success {
			background-color: var(--c-success-pale);
			color: var(--c-success-dark);
			border-color: var(--c-success-pale);
		}

		&.error {
			background-color: var(--c-error-pale);
			color: var(--c-error-dark);
			border-color: var(--c-error-pale);
		}

		.iconContainer {
			height: var(--s-24-4);
			min-width: var(--s-24-4);
		}

		.textContainer {
			min-height: var(--s-24-4);
			display: flex;
			align-items: center;
		}
	}
</style>
