---
import { getReviewsByServiceAndLocationWithBackfill } from '../../utils/reviews';
import type { review } from '../../utils/types';

const serviceId = 10; // power-flushing
const postcode = 'RH10'; // crawley
const countyId = 5; // west-sussex
const reviews: review[] = await getReviewsByServiceAndLocationWithBackfill(
	serviceId,
	postcode,
	countyId
);
---

<h2>{reviews.length} reviews</h2>
{
	reviews.map((review) => (
		<p>
			{review.date}, {review.title}, {review.postcode}
		</p>
	))
}
