---
import { getAllReviews } from '../../utils/reviews';
import type { review } from '../../utils/types';

const reviews: review[] = await getAllReviews();
---

<h2>{reviews.length} reviews</h2>
{
	reviews.map((review) => (
		<p>
			{review.date}, {review.title}, {review.postcode}
		</p>
	))
}
