---
import { getAllReviewsByCounty } from '../../utils/reviews';
import type { review } from '../../utils/types';

const countyId = 5; // west-sussex
const reviews: review[] = await getAllReviewsByCounty(countyId);
---

{
	reviews.map((review) => (
		<p>
			{review.title}, {review.postcode}
		</p>
	))
}
