---
import { getReviewsByServiceWithBackfill } from '../../utils/reviews';
import type { review } from '../../utils/types';

const serviceId = 6; // plumbing
const reviews: review[] = await getReviewsByServiceWithBackfill(serviceId);
---

<h2>{reviews.length} reviews</h2>
{
	reviews.map((review) => (
		<p>
			{review.date}, {review.title}, {review.postcode}
		</p>
	))
}
