---
import { Picture } from '@astrojs/image/components';

interface Props {
	image?: ImageMetadata;
	title: string;
	children: any;
	href?: string;
	linkText?: string;
}

const { image, title, href, linkText } = Astro.props;
---

<article>
	{image && <Picture src={image} alt="" widths={[200, 400, 800, 1100]} aspectRatio="16:9" />}
	<div class="text">
		{title && <h3>{title}</h3>}
		<slot />
		{
			href && (
				<a href={href} class="button outline">
					{linkText}
				</a>
			)
		}
	</div>
</article>

<style lang="scss">
	article {
		overflow: hidden;
		border-radius: var(--border-radius-med);
		box-shadow: var(--box-shadow-card);
		background: var(--c-white);
		min-width: fit-content;
	}

	.text {
		padding: var(--scale-16-48);
		display: grid;
		gap: var(--scale-16-32);
	}
</style>
