---
import { Image } from '@astrojs/image/components';
import LogoWhich from '../images/logo-which.png';
import LogoGasSafe from '../images/logo-gas-safe.png';
import { FREEPHONE_NUMBER } from '../utils/constants';

type Props = Record<string, never>;
---

<div class="wrapper">
	<section>
		<h2 class="sr-only">Coverage area</h2>
		<p>Our wide coverage area includes the following counties:</p>
		<p class="h4 coloured-text">East Sussex, Hampshire, Kent, London, Surrey, and West Sussex</p>
		<p class="h4">Freephone: {FREEPHONE_NUMBER}</p>
		<p>No call out charge - Fixed fee</p>
	</section>

	<div class="logos">
		<Image src={LogoGasSafe} alt="Gas Safe logo" width={70} />
		<Image src={LogoWhich} alt="Which logo" width={115} />
	</div>
</div>

<style>
	section {
		background: var(--c-evo-green-pale);
		border-radius: var(--border-radius-med);
		padding: var(--scale-16-32);
		display: grid;
		gap: var(--scale-16-32);
		width: clamp(100%, 416px, 100%);
	}

	.wrapper {
		display: grid;
		gap: var(--scale-16-32);
	}

	.logos {
		display: flex;
		gap: var(--scale-16-32);
		align-items: center;
		justify-content: center;
	}
</style>
