---
import Coverage from './Coverage.astro';

interface Props {
	county?: string;
}

const { county } = Astro.props;
---

<main>
	<div class="inner-wrapper">
		<h2>Welcome to EVO Plumbing and Heating services</h2>
		<div class="row">
			<div class="text">
				<h3 class="h4 coloured-text">
					Your first choice for plumbing, heating, boiler repair and maintenance in {
						county ? `${county}` : 'South East England'
					}.
				</h3>
				<p>
					We understand that the biggest home emergencies don't always happen in normal working
					hours. Luckily, our emergency response team is available 24 hours a day, 7 days a week.
					From <strong>boiler breakdowns</strong> to <strong
						>burst pipe and water leak repairs</strong
					>, all our work is carefully undertaken and fully guaranteed for your added peace of mind.
				</p>
				<p>
					Wherever you are in <strong>{county ? `${county}` : 'South East England'}</strong> we will
					ensure you are completely satisfied with the work we do.
				</p>
				<p>
					Combining more than 30 years' experience our priority is to be your <strong
						>preferred choice for planned and emergency plumbing and heating work</strong
					> delivering an experience of unsurpassed excellence for each and every customer.
				</p>
				<p>
					Call us today and find out why we are a <strong
						>highly rated plumbing and heating company</strong
					>{county && ` in ${county}`}.
				</p>
			</div>

			<Coverage />
		</div>
	</div>
</main>

<style lang="scss">
	main {
		padding: var(--scale-32-64) 0;
	}

	.inner-wrapper {
		display: grid;
		gap: var(--scale-32-64);
	}

	.text {
		display: grid;
		gap: var(--scale-16-32);
	}

	.row {
		display: flex;
		gap: var(--scale-32-64);
		align-items: start;
		flex-direction: column;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
</style>
