---
import Review from './Review.astro';
import ReviewsHeader from './ReviewsHeader.astro';
import Section from './Section.astro';

type Props = Record<string, never>;
---

<div id="more-reviews">
	<Section background="evo-green-pale">
		<div class="wrapper">
			<ReviewsHeader />

			<div class="text">
				<div class="reviews">
					<Review />
					<Review />
					<Review />
					<Review />
					<Review />
					<Review />
					<Review />
					<Review />
				</div>
			</div>
		</div>
	</Section>
</div>

<style lang="scss">
	header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: var(--scale-16-32);

		@media (min-width: 768px) {
			justify-content: space-between;
		}
	}

	.checkatrade {
		display: flex;
		align-items: center;
		gap: var(--scale-8-16);
		margin: auto;

		@media (min-width: 768px) {
			margin: 0;
		}

		img {
			width: 180px;
		}
	}

	.wrapper {
		display: grid;
		gap: var(--scale-32-64);
	}

	.text {
		display: flex;
		align-items: stretch;
		gap: var(--scale-32-64);
		flex-direction: column;

		@media (min-width: 1100px) {
			flex-direction: row;
		}
	}

	button {
		margin: auto;
	}

	.image {
		width: 100%;
		position: relative;
		border-radius: var(--border-radius-med);
		overflow: hidden;
		height: 150px;

		@media (min-width: 1100px) {
			flex-direction: row;
			min-width: 230px;
			height: auto;
		}
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.reviews {
		display: grid;
		gap: var(--scale-32-64);
	}

	.reviews {
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>
