---
import Icon from 'astro-icon';

interface Props {
	title: string;
	text: string;
	postcode: string;
	date: string;
}

const { title, text, postcode, date } = Astro.props;
---

<figure data-postcode={postcode}>
	<h3 class="h5 coloured-text">{title}</h3>
	<div class="sr-only">{date}</div>
	<blockquote>
		<span><Icon name="icon-park:quote" /></span>
		<p>{text}</p>
	</blockquote>
</figure>

<style>
	figure {
		display: grid;
		gap: var(--s-16);
	}

	blockquote {
		display: flex;
		gap: var(--s-8);
	}

	svg {
		width: var(--s-16);
		height: var(--s-16);
		fill: var(--c-orange);
	}
</style>
