---
import Icon from 'astro-icon';

type Props = Record<string, never>;
---

<figure>
	<h3 class="h5 coloured-text">Boiler inspection and resolve pressure issue</h3>
	<blockquote>
		<span><Icon name="icon-park:quote" /></span>
		The work was carried out by Steven, who was extremely helpful and considerate He performed all the
		work to a very high standard and we are very pleased with the result. We would not hesitate in recommending
		the company to anyone requiring central heating work.
	</blockquote>
</figure>

<style>
	figure {
		display: grid;
		gap: var(--s-16);
	}

	blockquote {
		display: flex;
		gap: var(--s-16);
	}

	svg {
		width: var(--s-32);
		height: var(--s-32);
		fill: var(--c-orange);
	}
</style>
