---
import { Picture } from '@astrojs/image/components';
import ReviewsImage from '../images/bg-reviews.jpg';
import Review from './Review.astro';
import Icon from 'astro-icon';
import ReviewsHeader from './ReviewsHeader.astro';
import Section from './Section.astro';
import type { Review as ReviewType } from '../utils/types';

interface Props {
	reviews: ReviewType[];
}

const { reviews } = Astro.props;
const reviewsCount = reviews.length;
---

<div id={reviewsCount !== 4 ? 'more-reviews' : ''}>
	<Section background="evo-green-pale">
		<div class="wrapper">
			<ReviewsHeader />

			<div class="text">
				<div class="image">
					<Picture class="background" src={ReviewsImage} widths={[200, 400, 800, 1100]} alt="" />
				</div>

				<div class="reviews">
					{
						reviews.map((review) => (
							<Review title={review.title} text={review.text} postcode={review.postcode} />
						))
					}
				</div>
			</div>

			{
				reviewsCount === 4 && (
					<footer>
						<a href="#more-reviews" class="button outline">
							Jump to more reviews
							<Icon name="mdi:chevron-double-down" />
						</a>
					</footer>
				)
			}
		</div>
	</Section>
</div>

<style lang="scss">
	.wrapper {
		display: grid;
		gap: var(--scale-32-64);
	}

	.text {
		display: flex;
		align-items: stretch;
		gap: var(--scale-32-64);
		flex-direction: column;

		@media (min-width: 1100px) {
			flex-direction: row;
		}
	}

	a {
		margin: auto;
	}

	.image {
		width: 100%;
		position: relative;
		border-radius: var(--border-radius-med);
		overflow: hidden;
		height: 150px;

		@media (min-width: 1100px) {
			flex-direction: row;
			min-width: 230px;
			height: auto;
			flex: 1;
			max-height: 650px;
		}
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.reviews {
		display: grid;
		gap: var(--scale-16-32);
		max-width: var(--max-readable-width);
	}
</style>
