---
import Service from './Service.astro';
import ServiceImage from '../images/bg-home.jpg';
import Section from './Section.astro';
---

<Section>
	<div class="wrapper">
		<Service image={ServiceImage} title="Title" text="text" href="/" linkText="Service" />
		<Service image={ServiceImage} title="Title" text="text" href="/" linkText="Service" />
		<Service image={ServiceImage} title="Title" text="text" href="/" linkText="Service" />
		<Service image={ServiceImage} title="Title" text="text" href="/" linkText="Service" />
	</div>
</Section>

<style lang="scss">
	section {
		padding: var(--scale-32-64) 0;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: var(--scale-32-64);

		@media (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}
	}
</style>
