---
interface Props {
	county: string;
}

const { county } = Astro.props;
---

<div class="strapline">
	<div class="inner-wrapper">
		<h3>
			Your first choice for Plumbing, Heating, Boiler Repair and Maintenance in {county}
		</h3>
	</div>
</div>

<style>
	.strapline {
		background: var(--c-orange);
		color: var(--c-white);
		padding: var(--scale-32-64) 0;
	}
</style>
