---
import Card from '../../Card.astro';
import BoilerServicingRepairs from '../../../images/bg-boiler-servicing-repairs.jpg';

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<Card title="Replacement tanks">
	<p>
		Due to the volume of water stored in water tanks, their maintenance and condition is essential
		to avoid a major split or leak. Tanks, like all products, are susceptible to wear and tear over
		time and can rust, split or leak. Should this split or leak then cause the tank to burst, the
		level of damage can be catastrophic. Along with replacement water tanks, we can replace ball
		valves, repair leaking tanks, solve noisy, clunky tanks and install new overflows.
	</p>
	<p>
		Ensure your water system is always running efficiently with our maintenance service. As part of
		this service, we will inspect, clean and repair your tank, overflows and connecting pipework to
		maintain the overall performance of your system.
	</p>
</Card>

<Card title="Water pump installations">
	<p>
		A water pump comprises one of the major instruments needed to provide heat and water to your
		home. Working alongside thermostats, valves and boilers, a water pump helps to ensure your home
		is always supplied with hot water, on-demand. Not only does it provide a cost-effective heating
		solution to your home, it also helps the environment in the process.
	</p>
</Card>

<Card
	title="Boiler Servicing and Repairs"
	href="/boiler-servicing-repairs"
	linkText="Boiler Servicing and Repairs"
	image={BoilerServicingRepairs}
>
	<p>
		We can help with regular boiler maintenance to ensure its long-term performance. In the event of
		a boiler breakdown call our emergency helpline for a <strong>speedy resolution</strong>.
	</p>
</Card>
