---
import { Picture } from '@astrojs/image/components';
import ReviewsImage from '../../images/bg-contact.jpg';
import Section from '../Section.astro';
import { Modal } from '../contactForm/Modal';
import { FREEPHONE_NUMBER } from '../../utils/constants';

type Props = Record<string, never>;
---

<Section background="evo-orange-pale">
	<div class="wrapper">
		<div class="image">
			<Picture class="background" src={ReviewsImage} widths={[200, 400, 800, 1100]} alt="" />
		</div>

		<div class="text">
			<h2>Get in touch</h2>
			<p>For all your emergency and planned plumbing and heating works please call us on</p>
			<h3 class="coloured-text">Freephone {FREEPHONE_NUMBER}</h3>
			<p>Alternatively you can enquire online and we will get back to you shortly.</p>
			<div class="enquire">
				<Modal buttonType="secondary" client:only="react" />
			</div>
		</div>
	</div>
</Section>

<style lang="scss">
	.wrapper {
		display: flex;
		align-items: stretch;
		gap: var(--scale-32-64);
		flex-direction: column;

		@media (min-width: 1100px) {
			flex-direction: row;
		}
	}

	.enquire {
		width: 100%;

		@media (min-width: 1100px) {
			width: fit-content;
		}
	}

	.text {
		display: grid;
		gap: var(--scale-16-32);

		@media (min-width: 1100px) {
			padding: var(--scale-32-64) 0;
		}
	}

	.image {
		width: 100%;
		position: relative;
		border-radius: var(--border-radius-med);
		overflow: hidden;
		height: 150px;

		@media (min-width: 1100px) {
			flex-direction: row;
			width: 230px;
			height: auto;
			flex: 1;
		}
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
