---
import Section from '../Section.astro';
import NavList from '../header/NavList.astro';
import NavListItem from '../header/NavListItem.astro';
import Legal from './Legal.astro';

type Props = Record<string, never>;
---

<Section>
	<div class="wrapper">
		<nav>
			<h3 class="h4 coloured-text">EVO Plumbing and Heating Services</h3>
			<NavList>
				<NavListItem href="/" text="Home" />
				<NavListItem href="/about" text="About" />
				<NavListItem href="/recruitment" text="Recruitment" />
				<NavListItem href="/contact" text="Contact" />
			</NavList>
		</nav>

		<nav>
			<h3 class="h4 coloured-text">Plumbing and Heating</h3>
			<NavList>
				<NavListItem href="/plumbing" text="Plumbing services" />
				<NavListItem href="/blocked-sinks-toilets" text="Plumbing services" />
				<NavListItem href="/central-heating" text="Central heating" />
				<NavListItem href="/boiler-servicing-repairs" text="Boiler servicing and repairs" />
				<NavListItem href="/power-flushing" text="Power flushing" />
			</NavList>
		</nav>

		<nav>
			<h3 class="h4 coloured-text">External maintenance</h3>
			<NavList>
				<NavListItem href="/gutter-cleaning" text="Gutter cleaning" />
				<NavListItem href="/patio-cleaning" text="Patio cleaning" />
				<NavListItem href="/roof-cleaning" text="Roof cleaning" />
			</NavList>
		</nav>
	</div>

	<p class="coverage">
		<small>
			We cover
			<a href="/services/east-sussex">East Sussex</a>,
			<a href="/services/hampshire">Hampshire</a>,
			<a href="/services/kent">Kent</a>,
			<a href="/services/london">London</a>,
			<a href="/services/surrey">Surrey</a>, and
			<a href="/services/west-sussex">West Sussex</a>.
		</small>
	</p>

	<Legal />
</Section>

<style lang="scss">
	.wrapper {
		display: none;
		align-items: start;
		gap: var(--scale-32-64);

		@media (min-width: 768px) {
			display: flex;
		}
	}

	nav {
		flex: 1;
		display: grid;
		gap: var(--scale-8-16);
		border-right: 1px solid var(--c-grey);

		&:last-child {
			border: none;
		}
	}

	ul {
		display: grid;
		gap: var(--scale-8-16);
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		font-weight: var(--fw-semi-bold);
	}

	.coverage {
		padding: var(--scale-16-32) 0;
		text-align: center;
		margin: auto;
	}
</style>
