<h2>Is your patio looking a little worse for wear?</h2>
<h3 class="h4 coloured-text">
	Problems with unsightly moss, lichen, slippery algae growth and staining?
</h3>
<p>
	With our driveway and patio cleaning services, these issues will be resolved quickly and safely.
	Using specialist equipment, tried and tested techniques and products of the highest quality, we
	have established a reputation as <strong
		>trusted patio, driveway and hard surface cleaning specialists</strong
	>.
</p>
<p>Choose us for the cleaning of:</p>
<ul>
	<li>Crazy paving, patios and pathways, driveways</li>
	<li>Decking, forecourts, car park</li>
	<li>Conservatories</li>
	<li>Garden walls and other hard external surfaces</li>
	<li>Graffiti removal</li>
</ul>
